.box {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background: rgba(47, 47, 47, 0.75);
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.input {
  display: flex;
}

.inputbox{
  display: flex;
  flex-grow: 1;
}

.inputbox input {
  border: 2px solid #ccc;
  outline: none;
  border-radius: 2rem;
  padding: 0 1.5rem;
  font-size: 1rem;
}

.modal h2 {
  margin: 0.5rem;
}

.modal div {
  margin: 0.5rem 0;
}

.colors {
  display: flex;
  align-items: center;
}

.create {
  display: flex;
  justify-content: end;
}

.create button {
  background: #001f8b;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.create button:active{
  opacity: 0.7;
}
